<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}Hackclub{% endblock %}</title>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
  </head>
  <body>

    {% load poll_extras %}
    <header>
      <h1><a href="/">hackerclub</a></h1>
      {% if user.is_authenticated %}
        Welcome, {{ user.username }}!
        <a href="{% url 'submit_post' %}">Submit</a> |
        <a href="{% url 'logout' %}">logout</a>
      {% else %}
        <a href="{% url 'login' %}">login</a> / <a href="{% url 'signup' %}">signup</a>
      {% endif %}

      <br>
      <br>
      <form method="get" action="/search/" class="navbar-form pull-right">
        <input type="text" id="searchBox" class="input-medium search-query" name="searchq" placeholder="Search" value="{{searchq}}">
        <input type="submit" class="btn" value="Search" >
      </form>
      <hr>
    </header>
    <main>
      {% block content %}
      {% endblock %}
    </main>
  </body>
</html>
