{% extends 'base.html' %}

{% load markdown_deux_tags %}
{% load humanize %}

{% load mptt_tags %}
{% load poll_extras %}
{% block content %}
  <div><p>
       {% has_voted post user as voteObj %}
       {% if voteObj.vote == 0  or voteObj == None %}
       <form method="POST" action="{% url 'submit_vote' post.id  %}">
         {% csrf_token %}
         <input type="submit" name="vote" value="+"></input>
         <input type="submit" name="vote" value="-"></input>
       </form>
       {% else %}
       {% if voteObj.vote == 1 %}
       <form method="POST" action="{% url 'submit_vote' post.id  %}">
         {% csrf_token %}
         <input type="submit" name="vote" value="-"></input>
       </form>
       {% else %}
       <form method="POST" action="{% url 'submit_vote' post.id  %}">
         {% csrf_token %}
         <input type="submit" name="vote" value="+"></input>
       </form>
       {% endif %}
       {% endif %}
     </p>
       {% if post.link %}
        <a	href="{{post.link}}">{{	post.title	}}</a>
        {% else %}
        <a	href="/post/{{ post.id}}">{{	post.title	}}</a>
        {% endif %}
       <p>
       {% if post.score %}
       {{post.score}}
       {% else %}
       0
       {% endif %} points submitted by {{post.user}}
     {{ post.published_date | naturaltime }}
        <a href="/post/{{ post.id}}">comments ({{post.comment_set.count}})</a>
      </p>
      <p>
        {% autoescape off %}
        {{post.text | markdown}}
        {% endautoescape %}
      </p>
  </div>
  <hr>

  {% if user.is_authenticated %}
    <form method="POST" class="post-form">{% csrf_token %}
        <textarea name="text" id="id_text" rows="6" cols="60" required=""></textarea><br>
        <button type="submit" class="save btn btn-default">add comment</button>
    </form>

    {% endif %}
{% recursetree comments %}
<div class="comment" style="margin-left: {{ node.get_level }}00px">
</a>{{ node.author }} on {{ node.published_date }}</h5>
        <div>{% autoescape off %}{{ node.text|linebreaks }}{% endautoescape %} </div>
        {% if user.is_authenticated %}<a href="{% url 'comment_reply' post.pk node.pk %}" target="_blank">Reply</a>{% endif %}
</div>
  {% if not node.is_leaf_node %}
      {{ children }}
{% endif %}
{% endrecursetree %}

{% endblock %}
